.about-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 0;
  color: black;
  .about-content {
    margin: 7rem 4rem 3rem 4rem;
    height: 80%;
    width: 90%;
    border-radius: 2rem;
    padding: 1rem;
    z-index: 0;
    position: absolute;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.064);

    .text-area h1 {
      text-align: center;
      text-transform: uppercase;
      color: white;
    }
    .text-area p {
      padding-top: 2rem;
      font-size: 1.3rem;
      color: white;
      font-weight: 100;
      overflow: scroll;
    }
  }
}
