.home-container {
  width: 100%;
  margin: 0 auto;

  .banner-container {
    background-image: url("../statics/banner.jpg");
    background-size: 1400px 700px;
    background-repeat: no-repeat;
  }

  .banner-container h1 h2 {
    color: white;
    h1 h2 {
      color: white;
    }
  }
}
