.home-container {
  width: 100%;
  background-image: url("../statics/banner.jpg");
  background-size: cover;
  margin: 0 auto;
}
.banner-container h1 h2 {
  color: white;
}

h1 h2 {
  color: white;
}
