.nav-container {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  z-index: 1;
  background-color: black;
  .nav ul {
    position: absolute;
    list-style: none;
    color: white;
    right: 0;
    top: 0;
    margin-right: 20px;
  }
  li {
    display: inline;
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  li a:hover {
    color: aqua;
  }
  .logo {
    position: relative;
    top: 21px;
    left: 0;
    margin-left: 20px;

    h1 {
      color: white;
      text-transform: uppercase;
    }
  }
  select {
    display: none;
  }
  input#button {
    display: none;
  }
  @media screen and (max-width: 44em) {
    nav[role="custom-dropdown"] {
      ul {
        display: none;
        height: 100%;
      }

      label {
        position: relative;
        display: block;
        float: right;
        font-size: 1.1em;
        margin: 0;
        top: -1rem;
        color: white;
        border: 0.15em solid rgba(255, 255, 255, 0.2);
        //background-color: white;
      }

      label:after {
        position: absolute;
        right: 0.25em;
        top: 0;
        content: "\2261";
        font-size: 1.8em;
      }
      input#button {
        display: none;
      }

      input[type="checkbox"]:checked ~ label:after {
        color: rgb(206, 206, 206);
      }

      input[type="checkbox"]:checked ~ ul {
        display: block;
        right: 0;
        display: block;
        top: 4rem;

        > li {
          width: 100%;
          //opacity: 0.8;
          text-align: left;
          background-color: white;
          color: black;

          &:after {
            position: absolute;
            right: 0.25em;
            content: "\203A";
            font: bold 1.4em sans-serif;
          }
          a {
            color: black;
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 60rem) {
//   body {
//     margin: 1em 0;
//   }

//   .nav[role="select"] {
//     ul {
//       display: none;
//     }

//     &:after {
//       position: absolute;
//       z-index: -1;
//       content: "Menu";
//       right: 0;
//       bottom: -1.75em;
//       background: white;
//       padding: 0.15em 0.55em;
//       display: none;
//     }

//     select {
//       display: block;
//       cursor: pointer;
//       width: 30%;
//       padding: 0.55em 0.45em;
//       border: none;
//       background-color: white;
//       font: 1rem "Exo", sans-serif;
//       float: right;
//     }
//   }
// }
