@import "../styles/index.scss";

.nav-container {
  position: absolute;
  width: 100%;
  height: 75px;
  top: 0;
  z-index: 1;
  background-color: transparent;
  .nav ul {
    position: absolute;
    list-style: none;
    color: white;
    right: 0;
    top: 15px;
    margin-right: 20px;
  }
  li {
    display: inline;
    float: left;
  }
  li a {
    display: block;
    font-family: $font_family;
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  #contact a {
    border: 1px solid white;
    padding: 9px 10px 9px 10px;
    background: #ffffff42;
  }
  li a:hover {
    color: rgb(78, 80, 80);
    transform: translateY(-2px);
  }
  .logo {
    position: relative;
    top: 21px;
    left: 0;
    margin-left: 20px;

    h1 {
      color: white;
      text-transform: uppercase;
    }
  }
  select {
    display: none;
  }
  input#button {
    display: none;
  }
  @media screen and (max-width: 44em) {
    nav[role="custom-dropdown"] {
      ul {
        display: none;
        height: 100%;
      }

      label {
        position: fixed;
        right: 1rem;
        top: 1.2rem;
        z-index: 9;
        transition: 0 !important;
        width: 1.75rem;
        height: 1.375rem;
        cursor: pointer;
        //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB2ZXJzaW9uPScxLjEnIHg9JzBweCcgeT0nMHB4JyB3aWR0aD0nMzBweCcgaGVpZ2h0PSczMHB4JyB2aWV3Qm94PScwIDAgMzAgMzAnIGVuYWJsZS1iYWNrZ3JvdW5kPSduZXcgMCAwIDMwIDMwJyB4bWw6c3BhY2U9J3ByZXNlcnZlJz48cmVjdCB3aWR0aD0nMzAnIGhlaWdodD0nNicgc3R5bGU9J2ZpbGw6cmdiKDAsMCwwKScvPjxyZWN0IHk9JzI0JyB3aWR0aD0nMzAnIGhlaWdodD0nNicgc3R5bGU9J2ZpbGw6cmdiKDAsMCwwKScvPjxyZWN0IHk9JzEyJyB3aWR0aD0nMzAnIGhlaWdodD0nNicgc3R5bGU9J2ZpbGw6cmdiKDAsMCwwKScvPjwvc3ZnPg==);
        background-size: contain;
        //background-color: white;
      }

      label:after {
        position: absolute;
        right: 0.25em;
        top: 0;
        content: "\2261";
        color: white;
        font-size: 1.8em;
      }
      input#button {
        display: none;
      }

      // input[type="checkbox"]:checked ~ label:after {
      //   color: rgb(206, 206, 206);
      // }

      input[type="checkbox"]:checked ~ ul {
        display: block;
        right: 0;
        top: 4rem;

        > li {
          width: 100%;
          text-align: left;
          background-color: white;
          color: black;

          &:after {
            position: absolute;
            right: 0.25em;
            content: "\203A";
            font: bold 1.4em sans-serif;
          }
          a {
            color: black;
          }
        }
      }
    }
  }
}
