@import "../styles/index.scss";

.social-container {
  background: #eee;
  padding: 25px 50px;
  margin-bottom: 2rem;

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }
  a.youtube {
    color: #eb3223;
  }

  a.facebook {
    color: #4968ad;
  }

  a.twitter {
    color: #49a1eb;
  }

  a.instagram {
    color: black;
  }
  h3 {
    color: rgb(43, 42, 42);
    font-family: $font_family;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
}
